/* .container{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
align-items: center;
}
@media(max-width:500px){
  .container{
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }
} */
