.links{
  padding: 10px;
  height: 150px;
   
}
a{
    text-decoration: none !important;
    color: grey !important;
    padding-right: 10px;
    padding-bottom: 15px;
}
a:hover{
    text-decoration: underline !important;
}
select{
    border: none;
    width: 80px;
    color: grey;
    font-size: 13px;
    margin-right: 10px;
}
section:focus{
border: none !important;
}
select option{
    font-size: 13px;
    border: none;
    color: grey;
}
span{
    margin-left: 10px;
    color: gray;
}